<%= render "cats/form", action: :new,  cat: @cat %>
<!-- <h1> Create New Cat </h1>

<form action='/cats' method="post">

name <br>
<input type= 'text' name='cat[name]'>


<br>sex <br>
  <input type="radio"  name ="cat[sex]" value="m" > Male<br>
  <input type="radio" name ="cat[sex]" value="f"> Female<br>


<br>Color <br>
  <select name="cat[color]">
    <option value="" disabled='disabled'>choose a color</option>

    <option   value="white">white</option>
    <option  value="black">black</option>
    <option  value="grey">grey</option>
    <option  value="orange">orange</option>
  </select>

<br>birthdate <br>
  <input name='cat[birth_date]'  type="date" value=birth_date>


<br>description <br>
  <input type='text' name='cat[description]'>

  <input type="submit" value='submit'>
</form> -->
